@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.policy-form, .signin-form{
  padding: 0 1.4rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151), 2px 4px 8px rgba(0, 0, 0, 0.212);
  background-color: rgba(63, 139, 116, 0.219);
  height: 600px;
  width: 400px;
}

.policy-details {
  flex-direction: column;
  margin-top: 2rem;
  display: inline-block;
}

.policy-details h3 {
  margin: 0;
}

.signin-form {
  
}
